.fondo {
    background-image: url("../../../../../assets/img/listadoPromociones.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 2rem 0;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.disabled,
  .btn-primary[disabled] {
    filter: none;
    background-color: #4ea15c;
  }
  .titulo{
    font-family: "Lora", serif;
    font-weight: 700;
  }
  .fechaDesde {
    color: green;
  }
  .fechaHasta {
    color: red;
  }