<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <!-- Branding with improved styling -->
    <a class="navbar-brand bi bi-house-fill" *ngIf="rol === 'Admin'" href="#">
      <span class="ms-1">Admin<span class="text-warning">Olbap</span></span>
    </a>
    <a class="navbar-brand bi bi-house-fill" *ngIf="rol === 'Empleado'" href="#">
      <span class="ms-1">Empleado<span class="text-warning">Olbap</span></span>
    </a>
    <a class="navbar-brand" href="#" *ngIf="rol === 'Socio' || rol === 'sinIniciarSesion'">
      <span>Olbap<span class="text-warning">Chocolates</span></span>
    </a>

    <!-- Responsive toggle button -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarSupportedContent">

      <!-- NAVBAR VISIBLE PARA EMPLEADO - ADMIN -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="rol === 'Admin' || rol === 'Empleado'">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-cart4"></i> Pedidos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="pedido/nuevo">Registrar pedido</a></li>
            <li><a class="dropdown-item" routerLink="pedido/listado">Listado pedidos</a></li>
            <li><a class="dropdown-item" routerLink="pedido/pendiente">Listado pedidos pendientes</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-grid"></i> Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="producto/nuevo">Registrar producto</a></li>
            <li><a class="dropdown-item" routerLink="producto/listado">Listado productos</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="stock/listado">
            <i class="bi bi-box"></i> Stock
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-people-fill"></i> Socios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="socio/nuevo">Registrar socio</a></li>
            <li><a class="dropdown-item" routerLink="socio/listado">Listado socios</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-tag"></i> Promociones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="promocion/nuevo">Registrar promoción</a></li>
            <li><a class="dropdown-item" routerLink="promocion/listado">Listado promociones</a></li>
            <li><a class="dropdown-item" routerLink='promocion/listado/canjeadas'>Listado promociones canjeadas</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="rol === 'Admin'">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-graph-up-arrow"></i> Reportes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="reportes/socios">Reportes de socios</a></li>
            <li><a class="dropdown-item" routerLink="reportes/productos">Reporte de productos</a></li>
            <li><a class="dropdown-item" routerLink="ranking/productos">Ranking de productos</a></li>
            <li><a class="dropdown-item" routerLink="reportes/promociones">Reportes de promociones</a></li>
            <li><a class="dropdown-item" routerLink="reportes/cobros">Reportes de cobros</a></li>
          </ul>
        </li>
      </ul>

      <!-- NAVBAR VISIBLE PARA SOCIO -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="rol === 'Socio'">
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="home">
            <i class="bi bi-house-fill"></i> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="pedido/nuevo">
            <i class="bi bi-cart4"></i> Realizar un pedido
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="pedido/propios">
            <i class="bi bi-list-ul"></i> Mis pedidos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active"
            routerLink="promocion/listado/disponibles">
            <i class="bi bi-tag"></i> Promociones
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="contacto">
            <i class="bi bi-telephone-fill"></i> Contáctanos
          </a>
        </li>
      </ul>

      <!-- NAVBAR VISIBLE PARA USUARIOS SIN INICIAR SESION -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="rol === 'sinIniciarSesion'">
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="home">
            <i class="bi bi-house-fill"></i> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="pedido/nuevo">
            <i class="bi bi-cart4"></i> Realizar un pedido
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="socio/nuevo">
            <i class="bi bi-people-fill"></i> Quiero hacerme socio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" aria-current="page" routerLinkActive="active" routerLink="contacto">
            <i class="bi bi-telephone-fill"></i> Contáctanos
          </a>
        </li>
      </ul>

      <!-- Buttons -->
      <div class="nav-buttons d-flex flex-wrap justify-content-end">
        <button *ngIf="!sesionIniciada" type="button" class="btn btn-outline-success" routerLink="registro">
          <i class="bi bi-person-fill-add"></i> Registrarme
        </button>
        <button *ngIf="!sesionIniciada" type="button" class="btn btn-outline-primary" routerLink="login">
          <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
        </button>
        <button *ngIf="sesionIniciada" (click)="cerrarSesion()" type="button" class="btn btn-outline-danger">
          <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</nav>